<table style="border: 1px solid #ffffff;" class="table table-bordered table-condensed table-hover">
  <thead>
      <tr style ="background: #eee;">
          <td>NOME</td>
          <td>CPF</td>
          <td>AÇÃO</td>
      </tr>
          
  </thead>

  <tbody id="form-list-client-body">
     <!-- <tr style ="background: #ff988c;">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.cpf}}</td>
        
          <td>
              
              <a title="edit this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
              <a title="delete this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-trash text-danger"></i> </a>

             
          </td>
      </tr>-->
      <tr >
          <td>{{lista.name}}</td>
          <td>{{lista.rating}}</td>
        
          <td>
              
              <a title="edit this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
              <a title="delete this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-trash text-danger"></i> </a>

             
          </td>
      </tr>
    
  </tbody>
</table>