.container{
  margin-top: 60px;
}

.example-full-width {
  width: 100%;
}
.mat-form-field {
  display: inherit;
  position: relative;
  text-align: left;
}

table {
  width: 100%;
}

th.mat-header-cell.cdk-column-acoes.mat-column-acoes.ng-star-inserted {
  width: 13%;
}
